body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
/*  max-width: 0.95; /* limit width */
  line-height: 1.5;
  padding: 32px;
  background-color: rgb(251,239,208);
/*  padding-bottom: 32px;*/
}
/* {box-sizing: border-box;}*/
div {
    border: 3px solid blue;
}
p {
  margin-left: 30px;
/*  padding: 100px;*/
    margin-bottom: 12px;
}
h1, h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 0;
  padding-left: 60px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
    border-bottom: 1px;
    border-bottom-color: grey;
    margin-bottom: 8px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
#header {
    margin-bottom: 32px;
    text-align: center;
}
#footer {
    margin-top: 64px;
    text-align: center;
}
span {
    margin-right: 20px;
    margin-left: 20px;
}
.flex-container {
    display: flex;
    flex-flow: row no-wrap;
  padding: 15px;
  width: 95%;
  border: 5px solid #9D764F;
  border-radius: .5em;
}
.item {
  max-width: 400px;
  flex: 1 1 auto;
}
/*#me, #interests {
  max-width: 400px;
}*/
.cont {
  flex-flow: row no-wrap;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  width: 60%;
}

.it {
  padding: 10px;
  background-color: rgba(111,41,97,.3);
  border: 2px solid rgba(111,41,97,.5);
  flex: 1 1 auto;
}
